@import '../../styles/customMediaQueries.css';
@import '../../styles/propertySets.css';


.sectionDetails {
  
}

.details {
  
}


.staticPageWrapper {
  
}

.filteredSearches {

}

.searchLink {

  /* Remove link's hover effect */
  &:hover {
    text-decoration: none;  
  }
}

@media (--viewportMedium) {
  .searchLink {
    margin-top: 0;
    margin-right: 40px;
    margin-bottom: 0;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

/* A wrapper for a responsive image that holds it's aspect ratio */
.imageWrapper {
  
  transition: var(--transitionStyleButton);

  &:hover {
    transform: scale(1.02);
    box-shadow: var(--boxShadowSectionLocationHover);
  }
}

/* An image wrapper that defines the images aspect ratio */
.aspectWrapper {
  /*padding-bottom: calc(6 / 13 * 100%);*/ /* 13:6 Aspect Ratio */

  @media (--viewportMedium) {
    padding-bottom: calc(2 / 3 * 100%); /* 3:2 Aspect Ratio */
  }
}

.wishImage {
  /* Layout - image will take space defined by aspect ratio wrapper */

}

.linkText {
  @apply --marketplaceH2FontStyles;
  color: var(--matterColor);

  @media (--viewportMedium) {
    
  }
}

.wishRow{
  display: flex;
  @media (--viewportMaxMedium) {
    flex-direction: column;
  }
}
.wishCol{
  width: 33.33%;

  @media (--viewportMaxMedium) {
    width: 100%;
  }
}