@import '../../styles/customMediaQueries.css';
@import '../../styles/propertySets.css';


.sectionDetails {
  margin: 0 auto;
  width: 100%;
  max-width: 1128px;
  padding: 0 36px;
  @media (--viewportMaxMedium) {
    font-size: 12px;
    padding: 0 10px;
  }
}

.staticPageWrapper {
  background: #F7F7F7;
}

.searchLink {
  &:hover {
    text-decoration: none;  
  }
}


/* A wrapper for a responsive image that holds it's aspect ratio */
.imageWrapper {
  transform: none;
  box-shadow: none;

}

/* An image wrapper that defines the images aspect ratio */


/*.aspectWrapper div {
  position: static !important;
}*/



.linkText {
  margin: 0;
  line-height: normal;
  color: #5D2BC0;
  font-size: 16px;
  @media (--viewportMaxMedium) {
    font-size: 13px;
  }
}

.wishRow{
  border: 1px solid #E8E8E8;
  padding: 10px 20px;
  margin: 0 0 15px 0;
  align-items: flex-start;
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
  @media (--viewportMaxMedium) {
    padding: 5px 10px;
    margin: 0 0 10px 0;
  }
}
.wishCol{
  font-size: 14px;
  width: 33.33%;

  @media (--viewportMaxMedium) {
    font-size: 12px;
  }
}
.wishCol img {
    height: 70px;
    width: 70px;
    object-fit: cover;
  @media (--viewportMaxMedium) {
    height: 35px;
  }
}

.wishCol:first-child{
  align-self: center;
}
.wishCol:last-child{
  text-align: right;
  align-self: center;
}

.buttonRemove {
  background: #2ECC71;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    background: #239954;
  }
}

/*
@media (--viewportMaxMedium) {
  .wishRow{
    padding: 5px 10px;
    margin: 0 0 10px 0;
  }
  .wishCol{
    font-size: 12px;
  }
  .linkText{
    font-size: 13px;
  }
  .sectionDetails{padding: 0 10px;}
}
*/